:root{
    --header-height: 3em;
    --temp-bg-color: hsl(245, 23%, 81%);
    --header-bg-color: hsl(0, 0%, 0%);
}

*{
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 6387px;
}

body {
    background-color: var(--temp-bg-color);
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    z-index: 100000;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color: transparent;
}

.active {
    background-color: var(--header-bg-color);
    color: white;
    box-shadow: 0 0 30px var(--header-bg-color);
}

/* width */
::-webkit-scrollbar {
width: 0px;
}
    
/* Track */
::-webkit-scrollbar-track {
background: var(--colorbg);
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--background);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--background);
}

#logo {
    width: 10%;
    padding: 2% 0% 1% 20%;
}