:root{
    --header-height: 3em;
    --temp-bg-color: hsl(245, 23%, 81%);
    --header-bg-color: hsl(109, 57%, 60%);
}

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    width: 100%;
    overflow-x: hidden;
    height: 6387px;
}

body {
    background-color: var(--temp-bg-color);
    font-family: almaq-refined;
    overflow-x: hidden;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    z-index: 100000;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color: transparent;
    display: flex;
}

@keyframes sizego {
    from{transform: scale(0.8); padding: 0 0 0 20%;} 
    to{transform: scale(1); padding: 2% 0 1% 20%;}   
}

@keyframes sizeback {
    from{transform: scale(1); padding: 2% 0 1% 20%;} 
    to{transform: scale(0.8); padding: 0 0 0 20%;}   
}

@keyframes sizego-2 {
    from{font-size: 1em; border: 0px;} 
    to{font-size: 1.5em; border: 1px solid white;}   
}

@keyframes sizeback-2 {
    from{font-size: 1.5em; border: 1px solid white;} 
    to{font-size: 1em; border: 0px;}   
}


.active {
    background-color: var(--header-bg-color);
    color: white;
    box-shadow: 0 0 30px var(--header-bg-color);
}

.active #logo{
    transform: scale(0.8);
    padding: 0 0 0% 20%;
    transition: all 0.2s;
    animation: sizeback;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

.active .dechets-nbr p{
    animation: sizeback-2;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    font-size: 1em;
    transition: all 0.2s ease-in-out;
    border: 0px solid white;
}

/* width */
::-webkit-scrollbar {
width: 0px;
}
    
/* Track */
::-webkit-scrollbar-track {
background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--header-bg-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--header-bg-color);
}

#logo {
    width: 10%;
    padding: 2% 0% 1% 20%;
    display: inline-flex;
    transform: scale(1);
    animation: sizego;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

.dechets-nbr {
    position: relative;
    width: 10%;
    margin-left: 39%;
    height: auto;
    display: inline-flex;
    align-items:center; 
    color: white;
    transition: all 0.2s;
    
}

.dechets-nbr p {
    text-align: center;
    width: 100%;
    border: 1px solid white;
    border-radius: 15px;
    padding: 4%;
    animation: sizego-2;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    font-size: 1.5em;
    transition: all 0.2s ease-in-out;
}

@font-face {
    font-family: almaq-refined,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-container {
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#img-bg {
    position: absolute;
    z-index: 1;
}

.bateau {
    position: absolute;
    height: 100%;
    width: 200%;
    z-index: 100;
    padding-top: 5%;
    transform: translateX(0%);
}

.bateau svg {
    width: 60%;
    transform: scaleX(-100%);
}

#sac-pla-1{
    position: absolute;
    width: 11%;
    top: 165%;
    left: 34%;
    z-index: 200;
}

#sac-pla-2{
    position: absolute;
    width: 9%;
    top: 200%;
    left: 47%;
    z-index: 200;
}

#petanque{
    position: absolute;
    width: 6.5%;
    top: 163%;
    right: 5%;
    z-index: 200;
}

.dechet {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.dechet:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
